:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    text-align: center;
}

.container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 50vw;
    row-gap: 0;
    justify-content: center;
    margin: 1em 0 0 0;
    padding: 0;
}

.cell {
    border: 1px solid #ddd;
    text-align: center;
    aspect-ratio: 1;
    margin: 0;
    padding: 0;
    /* height: calc(inherit / var(--grid-rows)); */
    /* width: calc(inherit / var(--grid-rows)); */
}

.colored {
    background-color: red;
}